@layout('layouts/main')
@set('title', ' Profil | Recruteur')



@section('body')

<section>
  <form action="" method="post">
      <div>
      <label for="email">
        <span>Eamil :</span>
        <input type="email" name="email" id="email">
      </label>
      @if(flashMessages.has('errors.email'))
          <div>{{flashMessages.get('errors.email')}}</div>
        @endif

    </div>
  </form>
</section>


@end

